extends layout

block content
    if user
        username = user.name
        userpass = user.password
        usertype = user.usertype

    h1 ごく一般的なログインフォーム
    form(action='/login_result.html', method='post')
        p 管理者
            input(type='radio',name='usertype',value='admin',checked=usertype=='admin')
        p ゲスト
            input(type='radio',name='usertype',value='guest',checked=usertype=='guest') 
        div NAME:
            input(type='text', name='name',value=username)
        div PASS:
            input(type='password', name='password',value=userpass)
        input(type='submit', value='ログイン')
    p #{msg}
