extends layout

block content
    
    h1 チャットルーム一覧
    h2 ログインユーザ
    h3 #{username}
        input(type='button', id='room', value="部屋の作成")
    div#enter
        for room in rooms
            p(id=room.id): a(href=room.id) #{room.num}:#{room.name}
    script.
        var socket = io.connect();
        socket.on('showRoom', function (data) {
            var str = data.num + ':' + data.name;
            var url = data.num + data.name;
            $("#enter").prepend("<p id="+ url +"><a href=" + url +">" + str + "</a></p>");
        });

        socket.on('deleteRoom', function (path) {
            var str = path.substring(1);   
            $("#" + str).remove();
        });
        (function(){
            var input_button = document.getElementById("room");
            var input_return = document.getElementById("enter");
            input_button.onclick = function (){
                var result = prompt('部屋の作成','');
                socket.emit('crateRoom', result);
            };    
        })();

