extends layout

block content

    h1 書籍管理
    div
        p
            a(href='book/add.html')書籍追加
        p
            a(href='book/search.html')書籍検索
    index = ['書籍名','タグ','購入日','読了日','','','']
    table(border='1')
        tr
            for i in index
                th= i
        for book in books
            tr
                td= book.isbn
                td= book.author
                td= book.purchase_date
                td= book.finish_date
                bookId = book.isbn
                td: form(method='get',action='/book/detail.html')
                        input(type='hidden',name='name', value=book.name)
                        input(type='submit', value='詳細')
                td: form(action='/book/modify.html?name=',)
                        input(type='hidden',name='name', value=book.name)
                        input(type='submit', value='変更')
                td: form(action='/book/delete_result.html',method='post',id='del')
                        input(type='hidden',name='isbn', value=book.isbn)
                        input(type='submit', value='削除', onClick='confirm("削除しますか？")')

